* {
  font-family: Inter;
}

.container {
  padding: 50px;
}

.logo {
  height: 50px;
  margin-left: 38px;
}

.cart-icon {
  height: 20px;
}
form {
  margin-right: 30px;
}

.sign-in {
  width: 100px;
  background-color: #289573;
  margin-bottom: 50px;
  font-size: 12px;
  margin-top: -6px;
}

button {
  margin-bottom: -10px;
}

.help-menu {
  display: flex;
  list-style-type: none;
  margin: 5px;
  color: #4A4B4D;
  font-family: Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 180px;
  /* justify-content: space-around; */
}

a {
  text-decoration: none;
}

.help-item {
  margin: 10px;
  font-size: 12px;
  color: black;  
}

.help-item:hover {
  text-decoration: underline;
}

.nav-item {
  margin: 20px;
}

.nav-item:hover {
  text-decoration: underline;
}

.search-icon {
  height: 18px;
}

.search-btn {
  border: none;
  outline: none;
  background-color: black;
  border-radius: 5px;
  margin-left: -10px;
  /* margin-top: -12px; */
  height: 33px;
  width: 33px;
}

.bypass-btn {
  background-color: white;
  color: white;
  border: none;
  font-size: 12px;
}

.bypass-btn:focus {
  border: 1px solid #D11C2E;
  outline: 5px #D11C2E;
  color: black;
}

.search-box {
  width: 300px;
  margin-right: 20px;
}

input:placeholder-shown {
  font-style: italic;
  font-size: 75%;
}

.carousel {
  width: 75%;
  margin: 0 auto;
}

.carousel-caption {
  position: absolute;
  font-size: 15px;
  text-align: left;
  width: 30%;
  bottom: 10%;
  padding-top: 40px;
  left: 7%;
  right: 60%;
  margin-right: 150px;
  /* z-index: 20; */
  color: white;

}

.carousel-btn {
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
}

.carousel-indicators .active {
  background-color: red;
  margin-bottom: -50px;
}

.carousel-indicators {
  position: absolute;
  bottom: 15%;
  /* background-color: rgb(202, 202, 202); */
  padding-bottom: 10px;
  margin: 5px;
  height: 30px;
  /* padding-top: 200px; */
}

.control-buttons {
  border: none;
  /* background-color: rgb(202, 202, 202); */
  width: 100vw;
}

.control-button-icon {
  /* display: block; */
  /* margin-top: 10px; */
  /* margin-left: 100px; */
  height: 10px;
  /* margin-bottom: 8px; */
}

.spacing {
  padding-top: 50px;
}

.carousel-controls {
  width: 75%;
  height: 50px;
  position: absolute;
  top: 400px;
  right: 30px;
  left: 492px;
}

.carousel-controls button {
  margin-top: 80px;
  margin: 60px 50px;
}

.carousel-control.prev {
  margin-left: -150px;
}

.carousel-control-prev-icon {
  margin-top: -72px;
  height: 25px;
  z-index:-1;
  top: -50px;
  /* left: 20px; */
  margin-left: 51px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}

.carousel-control-next-icon {
  margin-top: -71px;
  height: 25px;
  margin-right: 50px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-controls {
  background-color: #EEEEEE;
  width: 648px;
}

.carousel .carousel-indicators button {
  width: 10px;
 height: 10px;
 border-radius: 100%;
 border: 1px solid black;
 margin-top: 10px;
}

.line {
  color: #B2B0B0;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 5px;
}

.pause-button {
  margin-left: 50px;
  margin-top: 5px;
  height: 95%;
}

.free-delivery {
  display: flex;
  margin: 0 auto;
  background-color: #EEEEEE;
  margin-left: 38px;
  margin-right: 38px;
  height: 100px;
  margin-top: -50px;
  border-radius: 10px;
}

.free-delivery li {
  list-style-type: none;
}

.delivery-text {
  font-size: 15px;
  text-align: center;
}

.delivery-content {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 25px;
}

.free-icon {
  height: 75%;
  margin-right: 40px;
  margin-top: -8px;
}

.delivery-btn {
  width: 150px;
  background-color: #289573;
  margin-bottom: 50px;
  font-size: 15px;
  margin-top: 6px;
  margin-left: 40px;
}

.deals-container {
  /* display: inline-block; */
  /* align-items: center;
  justify-content: space-evenly; */
  padding: 50px;
  margin: 0 auto;
  margin-left: 38px;
  margin-right: 38px;
  background-color: #EEEEEE;
  margin-top: 20px;
  border-radius: 10px;
}

.deals-images {
  display: flex;
  justify-content: space-between;
  margin-right: 38px;
}

.category-images {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
  margin-top: 10px;
}

.category-container {
  /* display: inline-block; */
  /* align-items: center;
  justify-content: space-evenly; */
  padding: 20px;
  margin: 0 auto;
  margin-left: 38px;
  margin-right: 38px;
  background-color: #EEEEEE;
  margin-top: 20px;
  border-radius: 10px;
}

.deals-images li {
  list-style-type: none;
}

.category-images li {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 5px;
}

.view-less-deals {
  text-align: end;
  margin-right: 38px;
}

.view-less-button {
  text-align: right;
  border: none;
  margin-top: 10px;
  background-color: #EEEEEE;
}

.view-less-arrow {
  margin-bottom: 10px;
}

.view-less-button:hover {
  text-decoration: underline;
}

.category-spacing {
  margin-top: -100px;
}

/* .deals-images {
  display: block;
  margin: 0 auto;
  margin-left: auto;
}

.deals-images img {
  height: 75%;
  padding: 10px;
  margin: 0 auto;
} */

.h1-title {
  margin-left: 38px;
  padding-top: 50px;
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 30px;
}

p {
  margin-bottom: 25px;
  font-size: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 38px;
  margin-right: 38px;
  margin-top: -30px;
}

h6 {
  font-weight: bold;
  color: #D11C2E;
}

h4 {
  font-weight: bold;
  color: #D11C2E;
}

.footer-items {
  display: block;
  font-size: 12px;
  color: black;
}

.footer-list {
  margin-left: -35px;
}

.footer-items a {
  color: black;
}

.footer-items li {
  list-style-type: none;
  text-align: left;
  padding: 5px;
}

.footer-items a:hover {
  text-decoration: underline;
}

.social-section {
  display: block;
}

.socials-menu {
  display: flex;
  margin-left: -35px;
  justify-content: space-between;
  /* align-items: left; */
  /* margin-right: 38px; */
}

.socials-menu li {
  list-style-type: none;
}

.socials-menu img {
  height: 85%;
  /* margin-right: 10px; */
}

.bonus-list {
  display: block;
  margin: 0 auto;
}

.apps-image {
  height: 75px;
  /* display: block; */
  margin: 0 auto;
  margin-left: -30px;
}

.accessibility {
  display: flex;
  justify-content: right;
}

.award-footer {
  display: flex;
  justify-content: left;
  margin-top: 30px;

}

.accessibility li {
  margin: 10px;
}

.award-logo {
  height: 50px;
  margin-top: -5px;
}



