* {
  font-family: Inter;
}

.container {
  padding: 50px;
}

.logo {
  height: 50px;
  margin-left: 38px;
}

.cart-icon {
  height: 20px;
}
form {
  margin-right: 30px;
}

.sign-in {
  width: 100px;
  background-color: #289573;
  margin-bottom: 50px;
  font-size: 12px;
  margin-top: -6px;
}

button {
  margin-bottom: -10px;
}

.help-menu {
  display: flex;
  list-style-type: none;
  margin: 5px;
  color: #4A4B4D;
  font-family: Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 180px;
  /* justify-content: space-around; */
}

a {
  text-decoration: none;
}

.help-item {
  margin: 10px;
  font-size: 12px;
  color: black;  
}

.help-item:hover {
  text-decoration: underline;
}

.nav-item {
  margin: 20px;
}

.nav-item:hover {
  text-decoration: underline;
}

.search-icon {
  height: 18px;
}

.search-btn {
  border: none;
  outline: none;
  background-color: black;
  border-radius: 5px;
  margin-left: -10px;
  /* margin-top: -12px; */
  height: 33px;
  width: 33px;
}

.bypass-btn {
  background-color: white;
  color: white;
  border: none;
  font-size: 12px;
}

.bypass-btn:focus {
  border: 1px solid #D11C2E;
  outline: 5px #D11C2E;
  color: black;
}

.search-box {
  width: 300px;
  margin-right: 20px;
}

input:placeholder-shown {
  font-style: italic;
  font-size: 75%;
}

.carousel {
  width: 75%;
  margin: 0 auto;
}

.carousel-caption {
  position: absolute;
  font-size: 15px;
  text-align: left;
  width: 30%;
  bottom: 10%;
  padding-top: 40px;
  left: 7%;
  right: 60%;
  margin-right: 150px;
  /* z-index: 20; */
  color: white;

}

.carousel-btn {
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
}

.carousel-indicators .active {
  background-color: red;
  margin-bottom: -50px;
}

.carousel-indicators {
  position: absolute;
  bottom: -12%;
  background-color: rgb(202, 202, 202);
  padding-bottom: 10px;
  /* padding-top: 200px; */
}

.control-buttons {
  border: none;
  background-color: rgb(202, 202, 202);
}

.control-button-icon {
  margin-bottom: 8px;
}

.spacing {
  padding-top: 50px;
}

.carousel-controls {
  width: 50%;
  position: absolute;
  top: 450px;
  right: 35px;
}

.carousel-control-prev-icon {
  margin-top: -65px;
  height: 23px;
  margin-left: 51px;
  background-color: rgb(202, 202, 202);
}

.carousel-control-next-icon {
  margin-top: -65px;
  height: 23px;
  margin-right: 50px;
  background-color: rgb(202, 202, 202);
}

.carousel-controls {
  background-color: #EEEEEE;
}

.free-delivery {
  display: flex;
  margin: 0 auto;
}

.delivery-content {
  display: flex;
  margin: 0 auto;
}

.free-icon {
  height: 40px;
  margin-right: 40px;
  margin-top: -10px;
}

.delivery-btn {
  width: 120px;
  background-color: #289573;
  margin-bottom: 50px;
  font-size: 12px;
  margin-top: -6px;
  margin-left: 40px;
}

h1 {
  margin-left: 38px;
  padding-top: 50px;
}

h2 {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 30px;
}

p {
  margin-bottom: 25px;
  font-size: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

h6 {
  font-weight: bold;
  color: #D11C2E;
}

.footer-items {
  display: block;
  font-size: 12px;
  color: black;
}

.footer-list {
  margin-left: -35px;
}

.footer-items a {
  color: black;
}

.footer-items li {
  list-style-type: none;
  text-align: left;
  padding: 5px;
}

.footer-items a:hover {
  text-decoration: underline;
}

.social-section {
  display: block;
}

.socials-menu {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.socials-menu li {
  list-style-type: none;
  
}

.socials-title {
  text-align: center;
}


.social-icons {
  height: 30px;
  margin-right: 10px;
}

.bonus-list {
  display: block;
  margin: 0 auto;
}

.apps-image {
  height: 75px;
  margin-right: 40px;
}


