.container {
  padding: 50px;
}

.logo {
  height: 50px;
  margin-left: 38px;
}

.cart-icon {
  height: 20px;
}

.sign-in {
  width: 100px;
  background-color: #289573;
  margin-bottom: 50px;
  font-size: 12px;
  margin-top: -6px;
}

button {
  margin-bottom: -10px;
}

.help-menu {
  display: flex;
  list-style-type: none;
  margin: 5px;
  color: #4A4B4D;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 160px;
  /* justify-content: space-around; */
}

a {
  text-decoration: none;
}

.help-item {
  margin: 10px;
  font-size: 12px;
  color: black;  
}

.help-item:hover {
  text-decoration: underline;
}

.nav-item {
  margin: 20px;
}

.nav-item:hover {
  text-decoration: underline;
}

.search-icon {
  height: 20px;
}

.search-btn {
  border: none;
  outline: none;
  background-color: black;
  border-radius: 5px;
  margin-left: -10px;
  /* margin-top: -12px; */
  height: 38px;
  width: 38px;
}

.search-box {
  width: 300px;
}

.carousel {
  width: 75%;
  margin: 0 auto;
}

.carousel-card {
  /* float: right; */
  width: 60%; 
  height: 90%;
  background-color: #D11C2E;
  margin-top: -1px;
  padding-bottom: 55px;
  border-radius: 0px;
}

.carousel-content {
  padding: 50px;
  color: white;
  font-size: 15px;
  width: 75%; 
  margin: 0 auto;
}

.carousel-card-2 {
  /* float: right; */
  width: 60%; 
  height: 90%;
  background-color: #2F2914;
  /* margin: 8px; */
  margin-top: -9px;
  border-radius: 0px;
}

.carousel-card-3 {
  /* float: right; */
  width: 60%; 
  height: 90%;
  background-color: #186217;
  /* margin: 8px; */
  margin-top: -9px;
  border-radius: 0px;
  padding-bottom: 26px;

}

.carousel-content-2 {
  padding: 50px;
  color: white;
  font-size: 14px;
  width: 75%; 
  margin: 0 auto;
}

.carousel-content-3 {
  padding: 50px;
  color: white;
  font-size: 14px;
  width: 80%; 
  margin: 0 auto;
}

.card {
  float: left;
  /* padding: 50px; */
}

.carousel-image {
  display: block;
  margin-left: auto;  
  /* margin-bottom: 50px; */
}

.carousel-image-2 {
  display: block;
  margin-left: auto;  
  /* margin-bottom: 80px; */
}

.carousel-buttons {
  margin-top: 50px;
  background: gray;
  background-color: gray;
}

.carousel-indicators .active {
  background-color: red;
}

.carousel-indicators {
  height: 20px;
  /* background-color: gray; */
}

